*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}
:root{
    /*Color pallete : 263C60, 141D48, 7ABEE3, 8C96B1, 4A5574*/
    --bg-color: #222225;
    --secound-bg-color: #191919;
    --third-bg-color:#ffffff;
    --fourth-bg-color:#cdcdceec;
    --text-color: #fff;
    --secound-color: #c6c9d8bf;
    --third-color : #363636;
    --fourth-color:#111A43; /* #191919;*/
    --icon-color:#7ABEE3;
    /* --main-color: #f9004d; */
    --main-color:#606f99; 
    --big-font: 3.5rem;
    --h2-font: 3rem;
    --h4-font:2rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}

.logo{
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar{
    display: flex;
}

.navbar li{
    position: relative;
}

.navbar a{
    color:var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a::after{
    content: '';
    position: absolute;
    width:0;
    height:2px;
    background:var(--main-color);
    left:0;
    bottom: -4px;
    transition: ease .40s;
}

.navbar a:hover::after{
    width:100%;
}

.navbar2{
    display: flex;
}

.navbar2 li{
    position: relative;
}

.navbar2 a{
    color:var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a::after{
    content: '';
    position: absolute;
    width:0;
    height:2px;
    background:var(--main-color);
    left:0;
    bottom: -4px;
    transition: ease .40s;
}

.navbar a:hover::after{
    width:100%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn { 
    color:var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    border: none;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding-right: 5px;
    padding-left: 5px;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
  

#menu-icon{
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.h-btn{
    padding: 0 30px;
    height: 50px;
    display: inline-block;
    line-height: 52px;
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
}

.h-btn:hover{
    transform: translateY(-5px);
}

section{
    padding: 100px 8%;
}

.home{
    height: 100vh;
    width: 100%;
    background: url(../assets/img/header-bg-plain.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.home-text h2{
    margin: 5px 0px 5px;
    font-size: var(--h2-font);
}

span{
    color: var(--fourth-color);
}

.home-text{
    width: 50%;
}

.home-text h3{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.home-text h4{
    color: #585c63;
    font-size: 20px;
    letter-spacing: 2px;
}

.home-text h5{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child{
    display: inline-block;
    width:100%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    background: var(--main-color);
    color: var(--text-color);
    padding: 12px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 6px #000, 0px 0px 14px #868686;
    cursor: pointer;
    top: 6px;
    right: 6px;
}

.header2{
    background-color: var(--fourth-color);
}

header.sticky{
    padding: 12px 15%;
    background: var(--fourth-color);
}

.sticky .navbar a::after{
    background: var(--text-color);

}

.sticky .h-btn{
    background: var(--text-color);
    color:#000;
}


.about{
    background: var(--third-bg-color);
    display:block;
    align-items: center;
    grid-gap:2rem;
    padding-left: 10%;
    padding-right: 10%;
}

.about-img{
    text-align: center;
    justify-items: center;
    align-items: center;
}

.about-img img{
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-text h2{
    color:var(--fourth-color);
    font-size: var(--h2-font);
    margin-bottom: 20px;
}

.about-text h5{
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p{
    color:var(--fourth-color);
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 800px;
    font-size: var(--p-font);
    margin-bottom: 45px;
    text-align: justify;
}

.about_detail{
    background: var(--third-bg-color);
    display:block;
    align-items: center;
    grid-gap:2rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 12%;
}


.about2{
    background: #c9cbce;
    display:block;
    align-items: center;
    grid-gap:2rem;
    padding-left: 10%;
    padding-right: 10%;
}

.about2 .about-text h4{
    color:var(--fourth-color);
    font-size: var(--h4-font);
    margin-bottom: 20px;
    text-align: center;
}

.about2 .container{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    grid-gap:3rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}

.about2-text{
    justify-self: center;
}

.about2-text p{
    color:var(--fourth-color);
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 800px;
    font-size: var(--p-font);
    margin-bottom: 35px;
    text-align: justify;
}




.value {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
}

.value-content{
    /* background-color: #a04646; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    /* align-items: center; */
}

.value-text h2{
    /* background-color: #62abcc; */
    color:var(--fourth-color);
    font-size: var(--h2-font);
    justify-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.value-row{
    /* background: var(--third-bg-color); */
    padding: 30px 30px;
    border-radius: 10px;
    cursor:default;
    transition: all .35s;
}


.value-row i{
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 2.7rem;
}

.value-row h3{
    /* background-color: #62abcc; */
    color: var(--fourth-color);
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 15px;
}

.value-row p{
    color:var(--fourth-color);
    line-height: 30px;
    font-size: var(--p-font);
}

.value-row:hover{
    transform: translateY(-8px);
}

  
.value-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.value-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value img{
    max-width: 100%;
    width:100px;
    height: 100px;
}


.value-title {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.value-text-contents {
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: #b3aeb5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
    display: inline-block;
    background: #8E84D3;
    color: var(--text-color);
    border: 2px solid transparent;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease .35s;
}

.btn:hover{
    transform: translateY(-8px);
    border: 2px solid var(--main-color);
    background: transparent;
    color: var(--fourth-color);
}

.service-all{
    background-color:var(--third-bg-color);
    color: var(--fourth-color);
}

.service-all .center{
    text-align: center;
}

.service-all-pre-text h2{
    font-size: var(--h2-font);
    text-align: center;
}

.service-all-pre-text{
    padding-bottom:30px;
}

.service-all-img{
    /* background:#465879; */
    justify-items: center;
    align-items: center;
    text-align: center;
}

.service-all-container{
    background: var(--third-bg-color);
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap:3rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}

.service-all-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.service-all-text h2{
    color:var(--fourth-color);
    font-size: 2.5rem;
    margin-bottom: 45px;
}

.service-all-text h5{
    color:var(--fourth-color);
    font-size: 20px;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.service-all-text p{
    color:var(--fourth-color);
    /* letter-spacing: 1px; */
    line-height: 28px;
    max-width: 590px;
    font-size: var(--p-font);
    margin-bottom: 20px;
    text-align: justify;
}


.services{
    background-color: var(--third-bg-color);
    padding-top: 5px;
}

.center{
   text-align: center;

}

.center h2{
    font-size: var(--h2-font);
    margin-bottom: 15px;
}

.center p{
    color: var(--secound-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: var(--p-font);
}


.services-content{
    /* background:#c6c9d8bf; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.row{
    /* background: var(--third-bg-color); */
    /* background:#c6c9d8bf; */
    padding: 30px 30px;
    border-radius: 10px;
    cursor: default;
    transition: all .35s;
    max-height: 100%;
    height: 520px;
}

.row img{
    max-width: 100%;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.row i{
    color: var(--main-color);
    margin-bottom: 20px;
    font-size: 2.7rem;
}

.row h3{
    color: var(--fourth-color);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}

.row p{
    color:var(--third-color);
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
}

.row:hover{
    transform: translateY(-8px);
}


.service-outbound{
    background: var(--third-bg-color);
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap:3rem;
    padding-left: 10%;
    padding-right: 10%;
}

.service-outbound-img{
    /* background:#465879; */
    justify-items: center;
    align-items: center;
    text-align: center;
}

.service-outbound-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.service-outbound-text h2{
    color:var(--fourth-color);
    font-size: 2.5rem;
    margin-bottom: 45px;
}

.service-outbound-text h5{
    color:var(--fourth-color);
    font-size: 20px;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.service-outbound-text p{
    color:var(--fourth-color);
    /* letter-spacing: 1px; */
    line-height: 28px;
    max-width: 590px;
    font-size: var(--p-font);
    margin-bottom: 30px;
    text-align: justify;
}

.service-educational{
    background: var(--third-bg-color);
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap:3rem;
    padding-left: 10%;
    padding-right: 10%;
}

.service-educational-img{
    /* background:#465879; */
    justify-items: center;
    align-items: center;
    text-align: center;
}

.service-educational-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.service-educational-text h2{
    color:var(--fourth-color);
    font-size: 2.5rem;
    margin-bottom: 45px;
}

.service-educational-text h5{
    color:var(--fourth-color);
    font-size: 20px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.service-educational-text p{
    color:var(--fourth-color);
    /* letter-spacing: 1px; */
    line-height: 28px;
    max-width: 590px;
    font-size: var(--p-font);
    margin-bottom: 30px;
    text-align: justify;
}

.swiper{
    width: 1000px;
}



.team2{
    background: #f7f7f7;
}

.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.wrapper .slide-container{
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding : 0 60px;
}

.team2 .team-text h2{
    /* background-color: #62abcc; */
    color:var(--fourth-color);
    font-size: var(--h2-font);
    justify-items: center;
    text-align: center;
    margin-bottom: 30px;
}


.container-team{
    position:relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap:90px 30px;
    padding: 70px 40px;
}

.container-team .card-team{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:290px;
    height:420px;
    background: #fff;
    border-radius:20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition:0.5s;
}

.container-team .card-team:hover{
    height:420px;
}

.container-team .card-team .imgBx{
    position:absolute;
    top:20px;
    width:200px;
    height:300px;
    background: #333;
    border-radius:12px;
    overflow:hidden;
    transition:0.5s;
}

.container-team .card-team:hover .imgBx{
    top:-100px;
    scale:0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.15);
}

.container-team .card-team .imgBx img{
     position: absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     object-fit:cover;
}

.container-team .card-team .content{
    position: absolute;
    top:330px;
    width:100%;
    padding: 0 30px;
    height: 70px;
    overflow:hidden;
    text-align:center;
    transition: 0.5s;
}

.container-team .card-team:hover .content{
    top:170px;
    height:250px;
}

.container-team .card-team .content h2{
    font-size:1.3em;
    font-weight: 700;
    color:var(--fourth-color);
    padding-bottom: 5px;
}

.container-team .card-team .content h3{
    font-size:1.2em;
    font-weight: 700;
    color:var(--fourth-color);
    padding-bottom: 5px;
}

.container-team .card-team .content h5{
    color:var(--fourth-color);
    padding-bottom: 5px;
    font-size: 11pt;
    font-weight: 600;
}

.container-team .card-team .content p{
    color:var(--secound-bg-color);
    font-size:9pt;
}

.container-team .card-team .content a {
    position:relative;
    top:15px;
    display: inline-block;
    padding:15px 25px;
    background: var(--fourth-color);
    color: var(--text-color);
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    border-radius:8px;
}

/* .team .content{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.card {
    margin : 20px;
    background : #fff;
    border-radius : 20px;
    position : relative;
    width : 280px !important;
}

.card::before{
    content:"";
    position : absolute;
    height : 40%;
    width : 100%;
    background:var(--fourth-color);
    border-radius: 20px 20px 0 0;
}

.card .card-content{
    display : flex;
    flex-direction : column;
    align-items: center;
    padding : 30px;
    position: relative;
    z-index : 100;
}


.card .name-position{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color:var(--fourth-color);
}

.name-position .name{
    font-size: 18px;
    font-weight: 600;
    color:var(--fourth-color);
}

.name-position .position{
    font-size: 13px;
    font-weight: 500;
    color:var(--fourth-color);
}

.swipper-wrapper{
    box-sizing:unset;
}

.swiper-pagination-bullet{
    height: 7px !important;
    width: 26px !important;
    border-radius: 25px !important;
}

.swiper-pagination-bullet-active{
    background:var(--fourth-color) !important;
}


.swiper-button-next, .swiper-button-prev{
    opacity : 0.7;
    color:var(--fourth-color) !important;
    transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: #8E84D3 !important;
}


.client{
    background-color: #ffffff !important;
}

.client-container{
    min-height: 70vh;
    display: grid;
    place-items: center;
}

.client-slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    /* display: grid;
    place-items: center; */
    overflow: hidden;
}

.client-slide-track{
    display: flex;
    width: calc(250px*18);
    animation: scroll 50s linear infinite;
}

.client-slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

.client-slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective:100px;
}

.client-slide img{
    width:100%;
    transition: transform 1%;
}

.client-slide img:hover{
    transform: translateZ(20px);
}


.client .client-text h2{
    /* background-color: #62abcc; */
    color:var(--fourth-color);
    font-size: var(--h2-font);
    justify-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.client-slider::before,.client-slider:after{
    background: linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.client-slider::before{
    left:0;
    top:0;
}

.client-slider::after{
    right: 0;
    top:0;
    transform: rotateZ(180deg);
}

.testimonial{
    background: #f7f7f7;
}

.testimonial-content{
    /* background-color: #a04646; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    /* align-items: center; */
}

.testimonial-row{
    /* background: var(--third-bg-color); */
    padding: 30px 30px;
    border-radius: 10px;
    cursor:default;
    transition: all .35s;
}

.testimonial-row h3{
    /* background-color: #62abcc; */
    color: var(--fourth-color);
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 15px;
}

.testimonial-row p{
    color:var(--fourth-color);
    line-height: 28px;
    font-size: 0.9rem;
    margin-bottom: 20px;
    text-align: justify;
}

.testimonial .testimonial-text h2{
    color:var(--fourth-color);
    font-size: var(--h2-font);
    justify-items: center;
    text-align: center;
    margin-bottom: 30px;
}


.testimonial-row .image{
    height:auto;
    width:300px;
    object-fit:cover;
    border-radius: 10%;
    padding-bottom: 5px;
}

.testimonial-row .logo{
    height:65px;
    width:65px;
    border-radius: 5%;
    margin-bottom: 30px;
}


.testimonial-row .testimonial-text{
    justify-items: center;
    text-align: center;
}

.testimonial-row .icon{
    display: flex;
    flex-direction:column;
    align-items:center;
    padding-bottom: 10px;
}

.testimonial-row .qoute-icon{
    font-size: 30px;
    color:var(--fourth-color);
}

.testimonial-row .details{
    display: flex;
    flex-direction:column;
    align-items:center;
}

.details .name{
    font-size:14px;
    font-weight: 600;
    color:#333;
}

.details .job{
    font-size: 12px;
    font-weight: 400;
    color:#333;
}




.portfolio{
    background: var(--secound-bg-color);
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}

.box img{
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}

.box p{
    color: var(--secound-color);
    font-size: var(--p-font);
    margin-bottom: 15px;
}

.box h5{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.box img:hover{
    transform: scale(1.1);
}

.page-section {
    padding: 6rem 0;
    background-color: #FFF;
    color: var(--fourth-color);
  }

.page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}


.text-center {
    text-align: center !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    text-align: center;
    justify-content: center;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: var(--main-color);
  }
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid var(--main-color);
    border-radius: 100%;
    background-color: #ffc800;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }

  .rounded-circle {
    border-radius: 50% !important;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }



.footer{
    text-align: center;
    background: var(--fourth-color);
}

.footer .container{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center;
    grid-gap:3rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .container .address{
    text-align: left;
    justify-self: left;
    justify-content: left;
}

.footer .container .address img{
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer .container .address h3{
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
    font-size: medium;
}

.footer .container .address p{
    text-align: left;
    font-size:small;
    color: var(--text-color);
}

.footer .container .link{
    display: block;
    text-align: left;
    justify-self: center;
}

.footer .container .link p{
    font-size: 15pt;
    font-weight: 400;
    padding:10px;
}
.footer .container .link a{
    color:var(--text-color);
}

.footer .container .link a:hover{
    color:var(--text-color);
    font-weight: 900;
}

.footer .container .socmed{
    text-align: left;
    justify-self: center;
    align-self:center;
}

.footer .container .socmed a{
    color: var(--text-color);
}

.footer .container .socmed a:hover{
    color: var(--icon-color);
}





.footer-end{
    text-align: center;
    background: var(--bg-color);
    padding: 34px;
}

.footer p{
    font-size: 17px;
    color: var(--secound-color);
    letter-spacing: 1px;
}


@media (max-width: 1270px){
    header{
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 10px 4%;
        transition: .2s;
    }
    section{
        padding:80px 4%;
        transition: .2s;
    }
    :root{
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font:1.1rem;
    }
}

@media (max-width: 990px){
    .home{
        height: 100vh;
    }
    
    .home-text h1{
        margin: 10px 0px 10px;
        font-size: 3.5rem;
    }
    
    .home-text h3{
        font-size: 20px;
    }
    
    #menu-icon{
        display:initial;
    }
    .navbar{
        position: absolute;
        top: -700px;
        left:0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }
    .navbar a{
        display: block;
        padding: 10px;
        margin: 10px;
        border-left: 2px solid var(--text-color);
    }
    .navbar a:hover{
        background: var(--main-color);
    }
    .navbar a::after{
        display:none;
    }
    .navbar.active{
        top:100%;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        margin-bottom: 30px;
    }
    .about-img img{
        max-width: 100%;
        width:700px;
        height: auto;
    }

    .service-all-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .service-all-img{
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
        max-width: 100%;
        width: auto !important;
        order:2;
    }

    .service-all-img img{
        max-width: 100%;
        width:500px;
        height: auto;
        order:2;
    }

    .service-all-text{
        order:3;
    }

    .service-all-pre-text h2{
        font-size: var(--h2-font);
        order:1;
        text-align: center;
    }
    /* .service-all-img{
        display: none;
    }
    .service-all-img img{
        display: none;
    } */

    .service-outbound{
        grid-template-columns: 1fr;
    }
    .services-outbound-img{
        text-align: center;
        margin-bottom: 30px;
    }
    .services-outbound-img img{
        max-width: 100%;
        width:700px;
        height: auto;
    }

    .service-educational{
        grid-template-columns: 1fr;
    }
    .services-educational-img{
        text-align: center;
        margin-bottom: 30px;
        order:1;
    }
    .services-educational-img img{
        max-width: 100%;
        width:700px;
        height: auto;
        order:1;
    }

    .service-educational-text{
        order:2;
    }



    .contact{
        grid-template-columns: 1fr;
    }
    .contact-img{
        text-align: center;
        margin-bottom: 25px;
    }
    .contact-form{
        order:2;
    }
    .box img{
        max-width: 100%;
        width: 760px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .home{
        height: 100vh;
    }
    
    .home-text h1{
        margin: 10px 0px 10px;
        font-size: 2.8rem;
    }
    
    .home-text h3{
        font-size: 20px;
    }
    
    #menu-icon{
        display:initial;
    }
    .navbar{
        position: absolute;
        top: -700px;
        left:0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }
    .navbar a{
        display: block;
        padding: 10px;
        margin: 10px;
        border-left: 2px solid var(--text-color);
    }
    .navbar a:hover{
        background: var(--main-color);
    }
    .navbar a::after{
        display:none;
    }
    .navbar.active{
        top:100%;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        margin-bottom: 30px;
    }
    .about-img img{
        max-width: 100%;
        width:300px;
        height: auto;
    }
    
    .about-text h2{
        font-size: 2rem;
    }

    .service-all{
        display: flex;
        grid-template-columns: 1fr;
    }

    .service-all-img{
        text-align: center;
        margin-bottom: 30px;
        max-width: 100%;
        width:300px;
        order:2;
    }
    .service-all-img img{
        max-width: 100%;
        width:300px;
        height: auto;
        order:2;
    }

    .service-all-pre-text h2{
        font-size: 2.5rem;
        order:1;
        text-align: center;
    }

    .service-all-text{
        order:3;
    }
    /* .service-all-img{
        display: none;
    }
    .service-all-img img{
        display: none;
    } */

    .service-outbound{
        grid-template-columns: 1fr;
    }
    .services-outbound-img{
        text-align: center;
        margin-bottom: 30px;
    }
    .services-outbound-img img{
        max-width: 100%;
        width:700px;
        height: auto;
    }

    .service-educational{
        grid-template-columns: 1fr;
    }
    .services-educational-img{
        text-align: center;
        margin-bottom: 30px;
        order:1;
    }
    .services-educational-img img{
        max-width: 100%;
        width:700px;
        height: auto;
        order:1;
    }

    .service-educational-text{
        order:2;
    }



    .contact{
        grid-template-columns: 1fr;
    }
    .contact-img{
        text-align: center;
        margin-bottom: 25px;
    }
    .contact-form{
        order:2;
    }

    .contact-form form .send {
        width: -webkit-fill-available;
    }

    .box img{
        max-width: 100%;
        width: 760px;
        height: auto;
    }
}



